<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ReportGenerator" version="4.0.15" targetFramework="net471" />
  <package id="StyleCop.Analyzers" version="1.1.1-rc.114" targetFramework="net471" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.1.1.114" targetFramework="net471" developmentDependency="true" />
</packages>